<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>

<form action="/login" method="post">
    <label>your login</label>
    <input th:field="${request.login}" type="text">
    <br>
    <label>your password</label>
    <input th:field="${request.password}" type="text">
    <div th:if="${#fields.hasErrors('request.password')}" th:errors="${request.password}"></div>
    <br>
    <button type="submit">Log in</button>
</form>
<br>
<button type="button"><a href="/">Main Page</a></button>


</body>
</html>