<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>shop</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>
<button type="button"><a href="/user">User Account</a></button>
<button type="button"><a href="/">Main Page</a></button>
<br>
<label> ---------- </label>
<br>
<label>Shop</label>
<div>
    <form action="/shop/buy" method="post">
    <label>buy 5 cards for 10 coins</label>
    <button type="submit">Buy cards</button>
    </form>

    <div th:each="card : ${cards}">
        <div th:text="${card.name}"></div>
        <img th:src="${card.smallImage}" width="300">
    </div>
</div>

</body>
</html>